/* color combination for entire page */
:root{
    --main-color:#00c9a5;
    --nav-color:#00afa5;
    --bg-color:#e8f3f1;
    --black:#2f4858;
    --white:#fff;
    --card-color:#c0bdea;
    --border: .1rem solid var(--card-color);
    --box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

/* Logo */
.logo {
    font-family: var(--ff-carter_one);
    font-size: 3rem;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .5s ease-in;
    scroll-behavior: smooth;
    scroll-padding: 16vh;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
}

section{
    padding: 2rem 7%;
}
.btn{
    display: inline-block;
    background-color: var(--main-color);
    color:var(--white);
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;    
}
.btn:hover{
    letter-spacing: 0.2rem;
}

.title{
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    padding: 3.5rem 0;
    font-size: 4rem;
    text-shadow: 2px 2px 0 var(--card-color),-2px -2px 0 var(--card-color),-2px 2px 0 var(--card-color),2px -2px 0 var(--card-color);
}

.title span{
    color: var(--main-color);
}
.header{
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 16vh;
    /* z-index: 1000; */
}

.header .logo img{
    height: 10rem;
    border-radius: 50%;
}

.header .navbar a{
    color:var(--white);
    font-size: 1.8rem;
    margin: 0 1rem;
}

.header .navbar a:hover{
    color: var(--black);
    border-top: 0.3rem solid var(--black);
    border-bottom: 0.3rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.header .icons{
    display: flex;
}

.header .icons div{
    color: var(--white);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: var(--black);
}
.header .icons .menu-icon{
    display: none;
}

/* searc bar */
.header .search-form{
    background-color:var(--white);
    text-transform: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: -100%;
    width: 45rem;
    height: 4.5rem;
}

.header .search-form.active{
    right:7%;
}
.header .search-form input{
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-transform: none;
    font-size: 1.8rem;
    color: var(--black);
}

.header .search-form label{
    color: var(--black);
    font-size:2rem;
    padding-right: 1.3rem;
    cursor: pointer;
}
.header .search-form label:hover{
    color: var(--main-color);
}
/* Add to cart */
/* .header .cart-items-container{
    position: absolute;
    top: 100%;
    right: 0;
    width: 35rem;
    background-color: var(--white);
    height: 80vh;
} */

.home{
    min-height: 84vh;
    margin-top: 16vh;
    background-color:aqua;
    background-image: url('images/hero-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
}

.home .hero{
    height: 50rem;
    width: 50rem;
}

.home .hero h3{
    text-transform: uppercase;
    font-size: 6rem;
    color: var(--white);
}

.home .hero p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 3.2rem;
    padding: 1rem 0;
    color: #eee;
}

/* Food Section */
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;

}

.food .wrapper .food-card{
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;
    transform-origin: top center;
}

.food .wrapper .food-card:hover{
    transform: scaleY(1.1);
    background-color: var(--black);
}

.food .wrapper .food-card img{
    /* height: 20rem; */
    width: 100%;
}

.food .wrapper .food-card h3{
    color:var(--white);
    font-size: 2rem;
    padding: 1rem 0;
}

.food .wrapper .food-card .price{
    color: var(--white);
    font-size: 1.8rem;
    padding: 1.5rem 0;
}

/* Toys */
.toys .wrapper .toys-card{
    text-align: center;
    background-color:#eac7c7;
    padding:2rem;
    border: var(--border);
    transform-origin: top center;
}

.toys .wrapper .toys-card:hover{
    box-shadow: var(--box-shadow);
}

.toys .wrapper .toys-card .img{
    padding: 2.5rem 0;
}

.toys .wrapper .toys-card .img img{
    /* height: 100%; */
    width: 100%;
}

.toys .wrapper .toys-card .icons a{
    height: 5rem;
    width: 5rem;
    color: var(--white);
    font-size: 2rem;
    line-height: 5rem;
    margin: 0.3rem;
}

.toys .wrapper .toys-card .icons a:hover{
    background-color: var(--main-color);
    box-shadow: var(--box-shadow);
}

.toys .wrapper .toys-card .content h3{
    color:var(--white);
    font-size: 2.5rem;
    margin: 1rem 0;
}
.toys .wrapper .toys-card .content .stars{
    padding: 1.8rem;
}

.toys .wrapper .toys-card .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.toys .wrapper .toys-card .content .price{
    color:var(--white);
    font-size: 1.4rem;
}

/* New Arrivals */
.new_arrivals .wrapper .card{
    background-color: #ffdca9;
    border: var(--border);
    text-align: center;
}

.new_arrivals .wrapper .card .img{
    width: 100%;
}

.new_arrivals .wrapper .card .img img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.new_arrivals .wrapper .card .content{
    padding: 2rem;
}

.new_arrivals .wrapper .card .content a:nth-of-type(1){
    font-size: 2.5rem;
    line-height: 5rem;
    color: var(--black);
}

.new_arrivals .wrapper .card .content p{
    color: grey;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

/* About Us */

.about .container {
    display: flex;
    justify-content: center;
    background-color: var(--black);
    flex-wrap: wrap;
}

.about .container .img{
        flex:1 1 45rem;
}

.about .container .img img{
    width: 100%;    
}

.about .container .content{
    flex:1 1 45rem;
    padding: 2rem;

}

.about .container h3{
    font-size: 3rem;
    color: var(--white);
    padding: 1.2rem 0;
}

.about .container p{
    font-size: 1.6rem;
    color:#ccc;
    padding: 1rem 0;
    line-height: 2rem;
}

/* Contact us */
.contact .content{
    display: flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    /* height: 50rem; */
}

.contact .content iframe{
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;
}

.contact .content form{
    height: 50rem;
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}

.contact .content form h3{
    text-transform: uppercase;
    color: var(--white);
    font-size: 3.5rem;
    padding: 1.5rem 0;
}

.contact .content form .input-box{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border: var(--border);
}

.contact .content form .input-box span{
    color: var(--white);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .content form .input-box input{
    background-color: var(--black);
    text-transform: none;
    color: var(--white);
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
}

/* Footer */
footer{
    background-color: var(--black);
    text-align: center;
}

.footer .social-media{
    padding: 1rem 0;
}

.footer .social-media a{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--white);
    border: var(--border);
    margin: 0.5rem;
}

.footer .social-media a:hover{
    background-color: var(--main-color);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: 0.7rem 2rem;
    color: var(--white);
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover{
    background-color: var(--main-color);
}

/* For small laptops and tablets */
@media(max-width:992px){
html{
    font-size: 55%;  
}
.header .logo img{
    height: 9rem;
}
}

/* For small devices (tablets) */
@media(max-width:768px){
    section{
        padding: 2rem;
    }
    .header .icons .menu-icon{
        display: inline-block;
    }
    .home{
        background-position: left;
    }
    .home .hero h3{
        font-size: 4.5rem;
    }
    .home .hero p{
        font-size: 1.5rem;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right:-100%;
        width: 30rem;
        height: 80vh;
        background-color: var(--white);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: var(--main-color);
        display: block;
        font-size: 2rem;
        padding: 0.5rem;
        margin: 1.5rem;
    }
    .header .search-form{
        width: 92%;
    }
    .header .search-form.active{
        right: 4rem;
    }
}
/* Smart phones */
@media (max-width:550px){
    html{
        font-size: 50%;
        
    }
}